.category-chip{
    border: 1px solid #a19f9f;
    border-radius: 5rem;
    padding: 0.5rem 1rem;
    cursor: pointer;
    margin: 0 0.5rem;
}

.category-chip:hover{
    background-color: crimson;
    color: var(--white);
    border: crimson;
}
.active-category{
    background-color:crimson ;
    color: var(--white);
    border: crimson;
}

@media screen and (max-width: 48em){
    .category-chip{
        margin: 0 0.1rem;
        padding: 0.3rem 0.8rem;
    }
}