.video-card{
    width: 21rem;
    /* height: 17rem; */
    border: 1px solid #b6b2b2;
    cursor: pointer;
    border-radius: 15px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}
.card-image{
    width: 100%;
    height: 12rem;
    /* max-height: 70%; */
    overflow: hidden;
    border-radius: 10px 10px 0 0;
}
.video-card_footer{
    padding:  0.8rem;
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
}
.space-between{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.video-card_title{
    font-weight: 600;
    font-size: 1rem;
    margin-bottom: 0.2rem;
}
.dropdown {
    position: relative;
}
.hide{
    display: none;
}
.show{
    display: block;
}

.dropdown-content{
    position: absolute;
    top: 1.3rem;
    right: 0;
    border: 1px solid black;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    width: 11rem;
    padding: 0 0.5rem;
    background-color: var(--light-gray);
    color: var(--black);
}
.dropdown-content ul li{
    margin: 0.3rem auto;
    cursor: pointer;
} 
.dropdown-content ul li:hover{
    background-color: var(--light-gray);
}


@media only screen and (max-width: 480px){
    .video-card{
        width: 70%;
        height: auto;
    }
}