.banner {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    opacity: 0.9;
    height: 25rem;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    background-image: url('../../assets/images/tbanner.jpg');
}
.banner-text{
    color: var(--white);
    margin: 0 5rem;
}
h1{
    font-size: 2.5rem;
    line-height: 1.3;
}
.banner-text h3{
    display: none;
}
.banner-text button{
    padding: 1rem 1.2rem;
    border: none;
    font-size: 1.5rem;
    font-weight: bold;
    cursor: pointer;
    margin: 1rem 0;
    width: 60%;
    border-radius: 3px;
    background-color: var(--white);
}

.banner img {
    max-height: 100%;
    width: 100%;
}
.category-section{
    margin: 2rem 0 3rem 0;
    text-align: center;
}

.category-container{
    margin: 2rem 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
}

.category-item{
    width: 25rem;
    height: 15rem;
    border-radius: 5px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    cursor: pointer;
}
.category-item img{
    width: 100%;
    height: 100%;
    border-radius: 5px;
}
.overlay-text{
    position: absolute;
    width: 100%;
    padding: 1rem;
    font-size: 1.5rem;
    background-color: black;
    color: white;
    border-radius: 5px;
    opacity: 0.8;
}

@media only screen and (max-width: 48em){
    .banner{
        height: 20rem;
    }
    .banner-text{
        margin: 0 1rem;
    }
    .banner-text h3{
        display: block;
        font-size: 2rem;
    }
    .banner-text h1{
        display: none;
    }
    .banner {
        align-items: center;
        justify-content: center;
    }
    .banner-text button{
        width: 70%;
        font-size: 1.2rem;
        padding: 1rem;
    }
    .category-section h3{
        font-size: 1.5rem;
    }
    .category-section{
        margin: 1rem 0 3rem 0;
        text-align: center;
    }
    .category-container{
        margin: 1rem 0;
    }
 }





