.banner {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    opacity: 0.9;
    height: 60vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    background-image: url('../../assets/images/tbanner.jpg');
}

.banner-text {
    color: var(--white);
    margin: 0 5rem;
}
.banner-text h1{
    font-size: 3rem;
}
.banner-text h4{
    display: none;
    
}

.banner-text button {
    padding: 1rem 1.2rem;
    border: none;
    font-size: 1.2rem;
    font-weight: bold;
    cursor: pointer;
    margin: 1rem 0;
    width: 50%;
    border-radius: 3px;
}

.banner img {
    max-height: 100%;
    width: 100%;
}

.category-section {
    margin: 2rem 0 3rem 0;
    text-align: center;
}

.category-container {
    margin: 2rem 0;
    display: flex;
    gap: 1.5rem;
    justify-content: center;
    flex-wrap: wrap;
}

.category-item {
    width: 26rem;
    height: 17rem;
    border-radius: 5px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.category-item img {
    width: 100%;
    height: 100%;
    border-radius: 5px;
}

.overlay-text {
    position: absolute;
    width: 100%;
    padding: 1rem;
    font-size: 1.5rem;
    background-color: black;
    color: white;
    border-radius: 5px;
    opacity: 0.8;
}

@media only screen and (max-width: 480px) {

    .banner {
        justify-content: center;
        height: 20rem;
    }

    .banner-text {
        margin: 0;
    }

    .banner-text h4 {
        display: block;
    }

    .banner-text h2 {
        display: none;
    }

    .banner-text button {
        font-size: 1.5rem;
        width: 70%;
    }
    .category-section{
        margin: 2rem 0 0 0;
    }

    .category-item {
        max-width: 100%;
    }
}