.videolisting-container {
  display: grid;
  grid-template-columns: 18% 1fr;
}

.main-section {
  padding: 2rem;
}

.video-section {
  display: flex;
  justify-content: flex-start;
  margin: 2rem 0;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

@media only screen and (max-width: 480px){
  .videolisting-container{
    display: block;
  }
  .video-section{
    justify-content: center;
  }
}