.navbar {
    background-color: var(--white);
    color: var(--black);
}

.grey-text {
    color: var(--blue);
}

.red-text {
    color: var(--red);
}

.navbar-menu {
    display: flex;
    gap: 1rem;
    margin: 0 2rem;
}

.navbar-end  {
    cursor: pointer;
    padding: 0.5rem;
    background-color: var(--crimson);
    color: var(--white);
    border: none;
    font-size: 1rem;
    border-radius: 3px;
}
