* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --light-gray : #F7F7F7
}
html{
    font-size: 100%;
}

body {
    background-color: var(--light-gray);
}

@media only screen and (max-width: 480px){
   html{
       font-size: 62.5%;
   }
}
